//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700&display=swap&subset=cyrillic-ext);
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Open Sans";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1235;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #183b56;
$blueColor: #1565d8;
$greenColor: #36b37e;
$doveBlueColor: #5a7184;
$lamantineColor: #8c98a4;
$footerColor: #5a7184;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
    color: $mainColor;
    &._lock {
        overflow: hidden;
    }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &._loaded {
    }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
    max-width: $maxWidthContainer + px;
    padding: 0px 15px;
    margin: 0 auto;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
    flex: 1 1 auto;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
.page {
    // .page__future-main
    padding: 100px 0px 0px 0px;
    &__future-main {
    }
}
.future-main {
    // .future-main__container

    &__container {
    }

    // .future-main__row

    &__row {
        display: flex;
    }

    // .future-main__column

    &__column {
        flex: 0 1 50%;
    }
}

.future {
    // .future__column-title

    &__column-title {
        font-family: "HKGrotesk";
        font-weight: 700;
        font-size: 56px;
        letter-spacing: 0.2px;
        margin: 0px 0px 25px 0px;
    }

    // .future__column-text

    &__column-text {
        font-size: 20px;
        line-height: 36px;
        margin: 0px 0px 40px 0px;
    }

    // .future__column-body

    &__column-body {
        display: flex;
        margin: 0px -24px;
    }

    // .future__item-button

    &__item-button {
        display: block;
        font-weight: 700;
        font-size: 18px;
        height: 56px;
        line-height: 56px;
        text-align: center;
        margin: 0px 55px 25px 0px;
    }

    &__item-button::after {
        font-family: icons;
        content: "\e901";
        font-size: 12px;
        padding: 0px 0px 0px 15px;
    }

    // .future__item-check

    &__item-check {
        background: $greenColor;
        border-radius: 50px;
        color: #ffffff;
        display: inline-block;
        padding: 8px;
        margin: 0px 0px 16px 0px;
    }

    // .future__item-title

    &__item-title {
        color: $mainColor;
        font-weight: 700;
        font-size: 16px;
        margin: 0px 0px 8px 0px;
    }

    // .future__item-text

    &__item-text {
        font-size: 16px;
        line-height: 28px;
        color: #5a7184;
        margin: 0px 0px 27px 0px;
        padding: 0px 73px 0px 0px;
    }

    // .future__column-img

    &__column-img {
    }
}
.column {
    // .column__item

    &__item {
        flex: 0 1 auto;
        padding: 0 14px;
    }
}

.item__button- {
    &conference {
        color: #ffffff;
        border-radius: 8px;
        background-color: $blueColor;
    }

    &startup {
        border: 2px solid $blueColor;
        border-radius: 8px;
        color: $blueColor;
    }
}

.page {
    &__sponsors-main {
        margin: 60px 0px 145px 0px;
    }
}
.sponsors-main {
}
.sponsors {
    &__main-title {
        margin: 0px 0px 50px 0px;
        text-align: center;
        font-family: HK Grotesk;
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 0.2px;
        color: inherit;
    }

    &__row {
        display: flex;
        justify-content: space-evenly;
    }

    &__column {
    }
}
.page {
    &__ourtopics-main {
    }
}

.label {
    display: inline-block;
    background: #ebf8f3;
    border-radius: 50px;
    padding: 6px 17px;
    margin: 0px 0px 16px 0px;
    font-weight: 600;
}
.label span {
    color: $greenColor;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}
.title {
    font-family: "HKGrotesk";
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.2px;
    margin: 0px 0px 50px 0px;
    color: inherit;
}

.ourtopics-main {
    margin: 0px 0px 170px 0px;
}
.ourtopics {
    &__label {
    }

    &__label span {
    }
    &__title {
    }
    &__row {
        display: flex;
        margin: 0px auto;
    }

    &__columns {
        flex: 0 1 33.333%;
        padding: 0 15px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 500px;
        width: 100%;
        color: #ffffff;
        padding: 0 32px;
    }

    &__item-01 {
        background: linear-gradient(180deg, rgba(24, 59, 86, 0.0001) 0%, #152532 100%),
            url("../img/conference-topics/01.jpg") 0 0 / 100% 100% no-repeat;
        border-radius: 16px;
    }

    &__item-02 {
        background: linear-gradient(180deg, rgba(24, 59, 86, 0.0001) 0%, #152532 100%),
            url("../img/conference-topics/02.jpg") 0 0 / 100% 100% no-repeat;
        border-radius: 16px;
    }
    &__item-03 {
        background: linear-gradient(180deg, rgba(24, 59, 86, 0.0001) 0%, #152532 100%),
            url("../img/conference-topics/03.jpg") 0 0 / 100% 100% no-repeat;
        border-radius: 16px;
    }
    &__item-title {
        font-family: "HKGrotesk";
        font-weight: 700;
        font-size: 28px;
        letter-spacing: 0.2px;
        margin: 0px 0px 12px 0px;
    }

    &__item-text {
        font-size: 20px;
        margin: 0px 0px 24px 0px;
    }

    &__item-link {
        font-weight: 700;
        font-size: 18px;
        color: #1565d8;
        margin: 0px 0px 40px 0px;
    }
    &__item-link::after {
        font-family: icons;
        content: "\e901";
        font-size: 12px;
        padding: 0px 0px 0px 15px;
    }
}

.ourtopics {
    &__quote {
        margin: 170px 0px;
        padding: 0 125px;
    }

    &__icon {
        color: $blueColor;
        font-size: 32px;
        margin: 0px 0px 25px 0px;
    }

    &__quote-text {
        font-family: "HKGrotesk";
        font-size: 40px;
        letter-spacing: 0.1px;
        margin: 0px 0px 16px 0px;
    }

    &__quote-author {
        font-size: 18px;
        line-height: 25px;
        color: #5a7184;
    }
}

.page {
    &__speakers-main {
        margin: 0px 0px 145px 0px;
    }
}
.speakers-main {
    &__container {
        max-width: $maxWidthContainer;
        margin: 0px auto;
    }
}
.speakers {
    &__label {
    }

    &__title {
    }

    &__row {
        display: flex;
        height: 440px;
        margin: 0px -15px;
    }

    &__columns {
        flex: 1 1 25%;
        padding: 0px 15px;
    }
    &__columns:nth-child(even) {
        align-self: flex-end;
    }

    &__item {
    }

    &__name {
        margin: 0px 0px 16px 0px;
        font-family: "HKGrotesk";
        font-weight: 700;
        font-size: 32px;
        letter-spacing: 0.2px;
    }

    &__skill {
        font-size: 16px;
        color: $doveBlueColor;
    }

    &__skill li {
        margin: 0px 0px 8px 0px;
    }

    &__skill li:last-child {
        margin: 0;
    }
    &__skill li::before {
        font-family: icons;
        content: "\e902";
        color: $greenColor;
        font-size: 12px;
        padding: 0px 12px 0px 0px;
    }

    &__foto {
        margin: 0px 0px 28px 0px;
    }
}

.page {
    &__archive-main {
        background-image: url("../img/archive.jpg") 0 0 no-repeat;
    }
}
.archive-main {
    &__container {
    }
}

.archive {
    &__item {
    }

    &__item-label {
        color: $blueColor;
        background-color: #e8f0fc;
    }

    &__item-title {
    }

    &__item-text {
        font-size: 18px;
        line-height: 32px;
        color: $doveBlueColor;
    }

    &__item-stats {
    }
}

.item {
    &__stats-counter {
    }

    &__stats-num {
        font-family: "HKGrotesk";
        font-weight: 700;
        font-size: 36px;
    }

    &__stats-num::before {
        font-family: icons;
        content: "\e902";
        background-color: #e1f4ec;
        color: $greenColor;
        font-size: 12px;
        padding: 8px 7px;
        border-radius: 50px;
        margin: 0px 12px 12px 0px;
        position: relative;
        bottom: 7px;
        left: 0;
    }

    &__stats-name {
        font-size: 16px;
        color: $doveBlueColor;
        margin: 0px 0px 0px 36px;
    }
}
